extends layout

block content
  section.page
    h1 The Accordion: a wonderful instrument
    br
    p The accordion is a very special instrument because it uses different playing systems simultaneously: your left hand is doing something very different than your right hand. With the left hand you control the bass and chords . With the right hand you can play a melody or chords too, as on a piano keyboard. By moving the bellow you can push or pull air through your instrument to create the tones and sound. Most accordions also have registers from which you can choose in order to create different types of sound. The sound itself is produced by small metal tongues, a principle that was developed thousands of years ago in China.
    br
    p The accordion was invented in 1829 in Germany. At that time, it was a small box with only a few tones, but it was already possible to make a chord by pushing just one button, hence the name of the instrument.
    br
    p In 1852 a Frenchman managed to build an accordion with a piano keyboard so that it became possible to play all Western music on the instrument. In France, for instance, the popular folk music known as the Musette, which until then was was played on bagpipes was completely taken over by the accordion. The portable and compact instrument found its way quickly around the world and was also very popular in the Netherlands. Almost all popular orchestras made use of accordionists playing Tangos or American jazz and swing music. It was a very popular instrument in the United States too: the Rock and Roll backing band of Bill Haley contained an accordionist. There were also many celebrities on the accordion like the Dutchman Johnny Meyer who was proclaimed in Paris as 'King of accordionists'. He played effortlessly in every genre with, even for the virtuose French, astonishing dexterity and timing.
    br
    p In subsequent years, the popularity of the accordion unfortunately fell sharply. The electronic organ and synthesizer took its place. It seemed as if it was relegated only to the genre of folk music, which also tended to be dismissed as not worth hearing.
    br
    p In the nineties (of the last century) in the Netherlands there came a change in the popularity due to styles like Cajun and Tex Mex. There came also interest in Jewish music (Klezmer) and Gypsy music.
    p When the Dutch all saw the tears of princess Maxima in response to the wedding Tango (played on a bandoneon, an instrument related to accordion) the accordion was back with a vengeance!
    br
    p Now everyone can again enjoy this beautiful and rich instrument with its unique sound on which one can play almost every genre of music.
    include accordionImages