extends opmaak

block content
  section.page
    h1 Het accordeon: een prachtig instrument
    br
    p Het accordeon is een zeer bijzonder instrument omdat het gebruik maakt van verschillende speelsystemen tegelijk: je linkerhand doet iets heel anders dan je rechterhand. Met de linkerhand bedien je de bassen waarmee je zowel grondtonen als akkoorden kunt laten klinken. Met de rechterhand kun je een melodie of akkoorden spelen op een pianoklavier. Door de balg heen en weer te bewegen trek of duw je lucht door het instrument zodat de tonen gaan klinken. De meeste accordeons hebben ook registers waardoor je kunt kiezen uit verschillende soorten geluid. De tonen zelf worden voortgebracht door kleine metalen tongetjes, een principe dat al duizenden jaren geleden in China werd uitgevonden.
    br
    p Het accordeon (vaak ook de accordeon genoemd) werd in 1829 in Duitsland uitgevonden. Het was toen nog een klein doosje met maar een aantal tonen. Het was al wel mogelijk met &#233;&#233;n knopje een akkoord te laten klinken vandaar de naam. In 1852 lukte het een Fransman een accordeon te bouwen met een pianoklavier zodat het mogelijk werd om alle westerse muziek op het instrument te spelen. Zo werd bijvoorbeeld in Frankrijk de populaire volksmuziek, de Musette, die tot dan toe vaak op doedelzak werd gespeeld, geheel door het accordeon overgenomen. Het compacte en draagbare instrument vond zijn weg al snel over de hele wereld en werd ook in Nederland zeer geliefd. Bijna alle populaire orkesten maakten gebruik van accordeonisten ook waar het jazz en swing betrof. Dat was ook in andere landen heel gewoon. Zo zat er bijvoorbeeld in de (Rock and Roll) begeleidingsband van Bill Haley ook een accordeonist. Er waren beroemdheden op het accordeon zoals de Nederlander Johnny Meyer die in Parijs tot koning der accordeonisten werd uitgeroepen. Hij speelde moeiteloos elk genre tot aan klassiek toe met zelfs voor Fransen verbazingwekkende vingervlugheid en timing.
    br
    p Vanaf de jaren zestig viel de populariteit helaas sterk terug. Het electronisch orgel en de synthesizer namen zijn plaats in. Het leek alsof het accordeon alleen nog in de volksmuziek mocht worden bespeeld. Hoewel ook daarin kwaliteit zat vonden velen het niet waard daar naar te luisteren.
    br
    p In de jaren negentig (van de vorige eeuw) kwam daar in Nederland verandering in door de populariteit van stijlen als Cajun en Tex Mex. Er ontstond ook belangstelling voor joodse muziek (Klezmer) en zigeunermuziek. Toen heel Nederland de tranen van Maxima zag op de Tango (gespeeld op een bandoneon, een aan accordeon verwant instrument)  was het accordeon weer helemaal terug van weggeweest.
    br
    p Nu kan Iedereen weer genieten van dit prachtige en veelzijdige instrument met zijn unieke geluid waarop je bijna elk genre muziek kunt spelen.
    br
    include accordionImages