extends layout

block content
  section.page
    h1 Accordion lessons for adults
    br
    p To learn how to play an accordion is not harder than any other instrument and gives you access to almost all kinds of music. You can play it solo as well as with other instruments. For many people it is a long-cherished wish to play accordion. Some have the ambition to continue in a band or study at the Conservatory.
    br
    p For adults, I can offer different types of lessons, adjusting to your personal wishes. Through the years I have gained a great deal of experience in teaching, and noticed that everyone has a different relation to music. Therefore it is wise to adjust the teaching method as much as possible. It is also important to have a good working  relation, so that my students feel comfortable, so they can perform at their best. The atmosphere should be relaxed but intense, to achieve this quality.
    br
    p It does not matter at what age you start. Many older people find a lot of pleasure in learning music. Music, at whatever level you engage with it, always guarantees a beautiful form of human contact.
    p You can study and play either on your own instrument or you can rent one from me.
    br
    include targets
    include adultsImages