br
iframe(width="560", height="315", src="https://www.youtube.com/embed/pwWcSW1hp68?rel=0", frameborder="0",  allowfullscreen)
.imgColumn
  #boszacc
   img(src="/images/boszacc.gif")
   span Bosz de Kler (1995)
  br
  #vive
    img(src="/images/vivelerock.jpg")
    span Vive le Rock! (1994-2008)
  br
  #bohemjenz
    img(src="/images/bohemjenz.gif")
    span De Bohemjenz (2001-2010)
  br
  #schicks
    img(src="/images/bosz-joris.jpg")
    span Joris Schicks, Bosz de Kler (2012)
