extends layout

block content
  section.page
    h1 Accordion lessons by Bosz de Kler
    br
    p About twenty years ago a person who said he played accordion was looked upon a bit pathetic. Many people in the Netherlands considered it to be an old-fashioned instrument.  So it was often dismissed as an instrument you would do little more than to play "boring folk tunes' on.
    br
    p When I got my first accordion in 1994 it was only two weeks later that I went to Paris and discovered that I could earn a living in the underground stations!
    br
    p But I was not that unexperienced. I was lucky to grow up with a very broad musical exposure including a lot of classical music, modern composers, pop music as well as old folk music, for instance from Flanders and Ireland. As a child I did a lot of singing and learned to play the piano. My teacher's attention was mainly devoted to musical performance as this is even more important than strict accuracy. That is, it is not about the notes, but about the music.
    br
    p In the end the piano intrigued me not enough.  With the accordion, however, I found all what I was looking for: a full range of tones with fascinating dramatic possibilities, not to mention a very special instrument and a very complete tool with which to play both solo.  It's even easy to carry along with me. Last but not least it gives acces to a world of music not only from many countries in Europe but also  from North and South America and even other continents.
    br
    p After the adventure in Paris I knew I wanted to be a musician. As soon as I came back in The Hague  I formed a band (Vive le Rock! ) and in the following years I played almost constantly accordion on stage and also at the strangest places, I studied from early morning until late at night and also wrote my own songs. With the band we combined many styles in a colourful and exciting blend of music. In it were elements of French and Irish music and Klezmer and American Cajun and Rhythm & Blues. In addition I formed a trio with musicians from the conservatory to play more towards Jazz. Since then I have also worked for several other artists. At this moment I'm working at a beautiful German album with the highly respected Joris Schicks.
    br
    p Although I still like to play on stage, I also enjoy being an enthusiastic teacher. I've been doing so for a number of years now, and - like my piano teacher did for me, to help students make music from notes. It's the only way you can learn to love music! It is a matter of practice and patience but everyone can learn it, and experience the fact that an accordion is a great instrument. Moreover, these folk tunes can be surprisingly beautiful. Besides folk tunes we could also work at a whole range of other music, so please let me know what YOU would like to learn! You can either play your own accordion or rent one from me. Additionally I have many contacts in the world of music, I'll help you with pleasure! There is a whole new world to discover!
    br
    p In the next pages you can read how it all works. If you want to take lessons or need additional information please contact me by email or telephone.
    br
    br
    p.small Here you can see me performing my version of La Valse d'Amelie composed by Yann Tiersen
    include boszImages