extends opmaak

block content
  section.page.lotsoftext
    h1 Accordeonles van Bosz de Kler
    br
    p Wie twintig jaar geleden zei dat hij accordeon speelde werd een beetje meewarig aangekeken. Voor velen was het een ouderwets instrument waarmee je niet veel meer kon doen dan 'vervelende volksdeunen' spelen.
    p Toen ik in die tijd begon met accordeon spelen ben ik er al na twee weken mee naar Parijs gegaan en ontdekte dat ik daar in de metro stations mijn brood kon verdienen!
    br
    p Zo onervaren was ik echter niet: ik had bij mijn ouders een brede muzikale opvoeding genoten met veel klassieke muziek, moderne componisten, popmuziek en oude volksmuziek uit Vlaanderen en Ierland. Bovendien had ik vanaf zes jaar piano leren spelen waarbij mijn lerares veel aandacht besteedde aan een muzikale uitvoering. Terecht want het gaat niet om de noten maar om de muziek (al lette ze wel heel goed op die noten).
    br
    p Maar de piano boeide mij uiteindelijk niet genoeg terwijl ik in het accordeon juist vond wat ik zocht: een scala van tonen met dramatische mogelijkheden, een compleet instrument waarmee je ook solo kunt spelen en dat ook nog gemakkelijk mee te nemen is en dat speelt zonder stroom.
    br
    p Terug in Den Haag wist ik dat ik muzikant wilde worden. Al snel kwam er een band (Vive le Rock! ) en speelde ik bijna voortdurend accordeon op podia en feesten. Ik studeerde van 's morgens vroeg tot 's avonds laat accordeon en schreef steeds vaker mijn eigen nummers en arrangementen. Met de band combineerden we heel veel stijlen in een bonte en spetterende mix met op de voorgrond mijn accordeon. Er zaten Franse elementen in en Ierse en Klezmer en Amerikaanse Cajun en Rhythm & Blues. Daarnaast kwam er nog een trio met musici van het conservatorium waardoor ook Jazz in mijn muziek begon te klinken. Verder werkte ik ook met anderen zo heb ik een jaar voor Youp van het Hek gespeeld en speel nu alweer geruime tijd met top performer Joris Schicks.
    br
    p Hoewel ik nog steeds graag optreed geef ik inmiddels ook alweer een aantal jaren met veel plezier les en net als mijn pianolerares help ik de leerlingen om van de noten muziek te maken want alleen zo leer je om van muziek te houden. Het is een kwestie van oefenen en geduld maar uiteindelijk kan iedereen het leren en ervaren  dat een accordeon een geweldig instrument is om te bespelen en dat die zogenaamde 'vervelende volksdeunen' soms ook verassend mooi kunnen zijn, al kunnen we natuurlijk ook met andere muziek aan de slag, graag zelfs! Ik zit nog steeds goed in mijn contacten in de muziekwereld dus mocht je er verder mee willen dan help ik je daarbij graag. Ook als je nog geen noten leest kan ik je dat leren. Er gaat er een wereld voor je open en dat meen ik!
    br
    p Iedereen is bij mij welkom om les te nemen, dat kan in het Henri Couveehuis (in het Statenkwartier) en eventueel ook aan huis. Kinderen kunnen terecht vanaf 6 jaar. Tenslotte: voor wie nog geen eigen instrument heeft heb ik een aantal exemplaren voor een lage prijs in de verhuur.
    br
    p Tot horens! Bosz de Kler
    br
    p.small Hieronder ziet u mij met mijn versie van La Valse d'Amelie gecomponeerd door Yann Tiersen
    include boszImages