.imgColumn
  #boszacc
   img(src="/images/boszacc.gif")
   | Bosz de Kler (1995)
  br
  #vive
    img(src="/images/vivelerock.jpg")
    | Vive le Rock! (1994-2008)
  br
  #bohemjenz
    img(src="/images/bohemjenz.gif")
    | De Bohemjenz (2001-2010)
  br
  #schicks
    img(src="/images/bosz-joris.jpg")
    | Joris Schicks, Bosz de Kler (2012)
br
iframe(width="560", height="315", src="http://www.youtube.com/embed/pwWcSW1hp68?rel=0", frameborder="0",  allowfullscreen)