extends layout

block content
	section.page
		h1 Contact information
		br
		include('./contactImages.jade')
		p For application, questions or a free lesson please contact by phone or email.
		br
		p Bosz de Kler
		p phone 06 15465232
		p
			a(href="mailto://boszdekler@gmail.com") boszdekler@gmail.com
		br
		h2 Location:
		include map.jade