extends opmaak

block content
	section.page
		h1 Contactgegevens
		br
		p Iedereen is bij mij welkom om les te nemen, dat kan: bij mij thuis in de Van Merlenstraat 84 in Den Haag, waar ik over een mooie lesruimte beschik die ook nu met covid voldoende mogelijkheid voor afstand houden biedt.\nWanneer je liever aan huis les hebt is dat ook mogelijk.\nTenslotte: voor wie nog geen eigen instrument heeft heb ik een aantal exemplaren voor een lage prijs in de verhuur.
		br
		p Om aan te melden, voor vragen of een gratis proefles kunt u contact opnemen per telefoon of email.
		br
		p Bosz de Kler
		p telefoon 06 15465232
		p
			a(href="mailto://boszdekler@gmail.com") boszdekler@gmail.com
		br
		p We zien naar je uit!

block append footer
