extends layout

block content
	section.page
		h1 Contact information
		br
		include('./contactImages.jade')
		p Everyone is most welcome to apply for lessons. So far I've been teaching to students from Japan, Turkey, Mexico, Poland, France and Germany.
		br
		p I can teach at my place Van Merlenstraat 84 The Hague or at your place if you prefer so.
		p In case you don't own your own accordeon you can rent one from me.
		br
		p For application, questions or a free lesson please contact by phone or email.
		br
		p Bosz de Kler
		p phone 06 15465232
		p
			a(href="mailto://boszdekler@gmail.com") boszdekler@gmail.com
		br
		h2 Location:
		include map.jade
