extends layout

block content
  section.page
    h1 Youth lessons
    br
    p For children and adolescents, I offer different types of lessons. You can play on your own instrument or rent one from me. A lesson lasts one half hour and is given every week. Of course it's a big responsibility to introduce a child to music and to make it also something fun to do.  Each child is also different. Learning to make music is important and for most people a pleasure for the rest of your life. An accordion is both fun and special and is also very suitable as a solo instrument or with others to play. Many now renowned musicians started as children on the accordion because it gives such a good base. The instrument is relatively inexpensive and takes up little space in your home.
    p The first lesson is always for free.
    br
    include targets
    br
    p On the Conditions page, you can read what you can expect from me and what I expect from my students.
    include kidsImages