extends opmaak

block content
  section.page
    h1 Accordeonles aan kinderen
    br
    p Voor kinderen en jongeren bied ik verschillende vormen van les. Je kunt spelen op je eigen instrument of er een bij mij huren. Een les duurt een half uur en wordt wekelijks gegeven. Ik hou rekening met de in Den Haag geldende schoolvakanties. Vanzelfsprekend staat het spelplezier bovenaan in bij lesgeven en ieder kind is bovendien anders. Muziek leren maken is belangrijk en een plezier voor de rest van je leven. Een accordeon is leuk en bijzonder en is bovendien heel geschikt als solo instrument of om met anderen samen te spelen. Talloze bekende musici zijn met het accordeon begonnen omdat het zo'n goede basis geeft. Het instrument is relatief goedkoop en neemt in huis weinig plaats in.
    p De eerste les bij mij is altijd gratis.
    br
    include leerdoelen
    br
    p Op de pagina Voorwaarden kunt u lezen wat u van mij kunt verwachten en wat ik van mijn leerlingen verwacht.
    include kidsImages