doctype 5
html(lang="en")
  head
    title= title
    link(rel='icon', href="/images/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style_.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  body
    #wrapper
      include menuEN
      a(href=otherL) naar Nederlandse versie
      block content
