h2 Beginners:
ul.points
  li de techniek leren voor de rechter en linkerhand
  li noten leren lezen
  li kennis maken met eenvoudige accordeon muziek
  li stap voor stap vertrouwd raken met het accordeon spelen
  li leren luisteren naar muziek en jezelf
  li uit het hoofd leren spelen
  li advies bij het uitzoeken van een eigen accordeon
  br
h2 Gevorderden:
ul.points
  li voortzetting en uitbreiding van speltechniek
  li aandacht voor ritme soorten
  li aandacht voor toonsoorten
  li mogelijkheid tot ontwikkeling van specifieke genres
  li uit het hoofd leren spelen
  li begeleiding in het schrijven van muziek
  li begeleiding in het spelen in bands of orkesten