#menuwrap
  nav#menu
    a.home(href="/nl/")
      | Home
    a.bosz(href="/nl/bosz")
      | Over mij
    a.accordion(href="/nl/accordeon")
      | Accordeon
    a.adults(href="/nl/volwassenen")
      | Volwassenen
    a.kids(href="/nl/kinderen")
      | Jeugd
    a.faq(href="/nl/voorwaarden")
      | Voorwaarden
    a.tuition(href="/nl/tarieven")
      | Tarieven
    a.contact(href="/nl/contact")
      | Contact
  a#hamburger(title="toggle menu")
    img(src="/images/hamcordion.svg", width="50px", height="50px")
include menuScript
