ul#menu
  li.home
    a(href="/nl/")
      | Home
  li.bosz
    a(href="/nl/bosz")
      | Over mij
  li.accordion
    a(href="/nl/accordeon")
      | Accordeon
  li.adults
    a(href="/nl/volwassenen")
      | Volwassenen
  li.kids
    a(href="/nl/kinderen")
      | Jeugd
  li.faq
    a(href="/nl/voorwaarden")
      | Voorwaarden
  li.tuition
    a(href="/nl/tarieven")
      | Tarieven
  li.contact
    a(href="/nl/contact")
      | Contact