ul#menu
  li.home
    a(href="/en/")
      | Home
  li.bosz
    a(href="/en/bosz")
      | About me
  li.accordion
    a(href="/en/accordion")
      | Accordion
  li.adults
    a(href="/en/adults")
      | Adults
  li.kids
    a(href="/en/kids")
      | Kids
  li.faq
    a(href="/en/terms")
      | Terms
  li.tuition
    a(href="/en/prices")
      | Prices
  li.contact
    a(href="/en/contact")
      | Contact