#menuwrap
  nav#menu
    a.bosz(href="/en/bosz")
      | About me
    a.accordion(href="/en/accordion")
      | Accordion
    a.adults(href="/en/adults")
      | Adults
    a.kids(href="/en/kids")
      | Kids
    a.faq(href="/en/terms")
      | Terms
    a.tuition(href="/en/prices")
      | Prices
    a.contact(href="/en/contact")
      | Contact
  a#hamburger(title="toggle menu")
    img(src="/images/hamcordion.svg", width="50px", height="50px")
include menuScript
