h2 Beginners:
ul.points
  li learn the technique for the right and left hand
  li learn to read notes
  li get acquainted with easy accordion music
  li gradually become familiar with playing the accordion 
  li learn to listen to music and yourself
  li learn to play by ear
  li can have advice in choosing their own accordion
br
h2 Skilled players:
ul.points
  li continuation and expansion of playing techniques
  li attention to rhythm types
  li focus on keys
  li ability to develop specific genres
  li learning to play by ear
  li guidance in writing music
  li assistance in playing in bands or orchestras