extends opmaak

block content
  section.page
    h1 Tarieven
    br
    p
      img.vingertje(src="/images/vingertje.jpg")
      | DE EERSTE LES IS GRATIS
    table.priceTable
      tr
        td Jeugd
        td per maand
        td
          span.price &#8364;
            | 50,-
        td (half uur per week)
      tr
        td Jeugd duo
        td per maand
        td
          span.price &#8364;
            | 30,-
        td (per leerling)
          br
          br
      tr
        td Volwassenen
        td per maand
        td 
          span.price &#8364;
            | 56,-
        td (half uur per week)
      tr
        td
        td per maand
        td
          span.price &#8364;
            | 32,50
        td (half uur om de week)
      tr
        td
        td per maand
        td
          span.price &#8364;
            | 90,-
        td (een uur per week)
          br
          br
      tr
        td Andere lesmogelijkheden
        td in overleg
      tr
        td Verhuur accordeon
        td per maand
        td
          span.price &#8364;
            | 25,-
        td (plus borg)
      tr
        td
          br
          | Tarieven bij automatische incasso
    include pricesImages