extends opmaak

block content
  section.page
    h1 Tarieven
    br
    p
      img.vingertje(src="/images/vingertje.jpg")
      | DE EERSTE LES IS GRATIS
    table.priceTable
      tr
        td Accordeonlessen
        td per maand
        td 
          span.price &#8364;
            | 70,-
        td (half uur per week)
          br
          br
      tr
        td Andere lesmogelijkheden
        td in overleg
      tr
        td Verhuur accordeon
        td per maand
        td
          span.price &#8364;
            | 25,-
        td (plus borg)
    include pricesImages
