extends layout

block content
  section.page
    h1 Terms
    br
    ul.points
      li Lessons are at Van Merlenstraat 84 (my teaching space) or at your home if you so prefer
      li The lessons last for half an hour
      li Classes begin and end on time
      li To cancel or move an appointment contact at least one day in advance
      li Materials are payed for in cash
      li Please pay for the lessons and rental instruments at the beginning of the month
      li Upon termination, please register well in advance. The calendar month is always completed
    br
    include termsImages
