extends layout

block content
  section.page
    h1 Terms
    br
    ul.points
      li Lessons are at home or at the Henri Couvee House
        a.small.tab(href="http://maps.google.nl/?q=Henri%20Couveehuis") (Prins Maurits laan  49 The Hague)
      li The lessons last for half an hour
      li Classes begin and end on time
      li To cancel or move an appointment contact at least one day in advance
      li Holidays follow the primary school holidays
        // (see diagram below)
      li Lessons on a holiday can not be moved
      li You pay only 11 months a year (no tuition for August)
      li For other holidays the tuition is paid as normal (as this is taken into account in the rates)
      li Materials are payed for in cash
      li Please pay for the lessons and rental instruments at the beginning of the month
      li Upon termination, please register well in advance. The calendar month is always completed
    br
    include termsImages