extends opmaak

block content
  section.page
    h1 Accordeonles aan volwassenen
    br
    p Een accordeon is niet moeilijker te bespelen dan een ander instrument en geeft toegang tot vrijwel alle soorten muziek. Je kunt er goed solo op spelen maar ook samen met andere instrumenten. Voor veel mensen is het een jaren gekoesterde wens zelf accordeon te leren spelen en sommigen hebben de ambitie om verder te gaan in een band of te studeren aan het Conservatorium.
    br
    p Voor volwassenen bied ik verschillende vormen van les.  Door de jaren heen heb ik  daarin veel ervaring opgedaan. Ik heb daarbij gemerkt dat iedereen anders met muziek omgaat en probeer daarin zoveel mogelijk te zoeken naar de beste leermethode. Het is ook belangrijk een goede relatie op te bouwen zodat mijn studenten zich prettig voelen en het beste van zichzelf kunnen laten horen. De sfeer moet ontspannen zijn maar ook intens om tot kwaliteit te komen.
    br
    p Het maakt niet uit op welke leeftijd u begint, ook veel ouderen hebben plezier in het leren muziek maken. Muziek staat, op welk niveau ook, altijd garant voor een mooie vorm van menselijk contact.
    p U kunt bij mij spelen op uw eigen instrument of er een bij mij huren.
    br
    include leerdoelen
    br
    p Op de pagina Voorwaarden kunt u lezen wat u van mij kunt verwachten en wat ik van mijn leerlingen verwacht.
    include adultsImages