extends opmaak

block content
  section.page
    h1 Voorwaarden
    br
    ul.points
      li Lessen aan huis of op de Van Merlenstraat 84
      li De lessen duren een half uur of een uur.
      li De lessen beginnen en eindigen op tijd.
      li Bij uitval of verplaatsing gelieve een dag van tevoren melden.
      li Lesmateriaal (op voorraad) contant afrekenen.
      li Lessen en huur instrumenten a.u.b. maandelijks aan het begin van de maand betalen.
      li Bij beëindiging gelieve dit ruim van tevoren te melden. De kalendermaand word altijd afgemaakt.
    br
    include termsImages
