extends opmaak

block content
  section.page
    h1 Voorwaarden
    br
    ul.points
      li Lessen aan huis of op het Henri Couveehuis
        a.small.tab(href="http://maps.google.nl/?q=Henri%20Couveehuis") (Prins Mauritslaan 49 Den Haag).
      li De lessen duren een half uur.
      li De lessen beginnen en eindigen op tijd.
      li Bij uitval of verplaatsing gelieve een dag van tevoren melden.
      li Vakanties als op de basisscholen.
      li Lessen op een feestdag worden niet verplaatst.
      li U betaalt maar 11 van de 12 maanden. (geen lesgeld voor augustus)
      li In de andere vakanties word het lesgeld doorbetaald.(daar is in het tarief rekening mee gehouden)
      li Lesmateriaal (op voorraad) contant afrekenen.
      li Lessen en huur instrumenten a.u.b. maandelijks aan het begin van de maand betalen.
      li Bij be&euml;indiging gelieve dit ruim van tevoren te melden. De kalendermaand word altijd afgemaakt.
    br
    include termsImages