div
  h1.blue Accordion lessons
  p.blue Learn to play accordion by taking lessons
    br
    | from a professional musician
    br
    | Lessons for adults and children in The Hague
  a(href='/en/')#switchEn
    | English
    img(src=hostname + "images/accordeon_b.png")