div
  h1 Accordeonles
  p.nl(style="color: #E8D92D;") Leer stap voor stap accordeon spelen!
    br
    | Neem lessen van een ervaren muzikant.
    br
    | Lespraktijk voor Den Haag, voor jong en oud.
  a(href='/nl/')#switchNl
    | Nederlands
    img(src=hostname + "images/accordeon_y.png")