#portrait{
  top: 30px;
  bottom: 50px;
  right: 0px;
  float: right;
  margin: 20px;
  font-size: .6em;
  font-stretch: extra-expanded;
  h1{
    color: @softRed;
  }
}

.imgColumn{
  position: absolute;
  width: 200px;
  top: 275px;
  right: 25px;
  
  /* bosz */
  #boszacc{
    float: right;
    position: relative;
    right: 50px;
  }
  #vive{
    position: absolute;
    right: 40px;
    top: 350px;
    img{
      width: 235px;
    }
  }
  #bohemjenz{
    position: absolute;
    right: 40px;
    top: 750px;
    img{
      width: 235px;
    }
  }
  #schicks{
    position: absolute;
    right: 40px;
    top: 1075px;
  }
  
  /* accordion */
  #oldhohner{
    position: absolute;
    right: 25px;
  }
  #uprising{
    position: absolute;
    right: 25px;
    top: 285px;
  }
  #meyer{
    position: absolute;
    top: 700px;
    right: 25px;
  }
  #innards{
    width: 235px;
    position: absolute;
    right: 25px;
    top: 325px;
  }
  
  /* kids */
  #children1{
    position: absolute;
    right: 25px;
    top: 0;
  }
}

#giantAcc{
  position: absolute;
  height: 400px;
  top: 830px;
  right: 50px;
}

#comets{
  position: relative;
  left: 50px;
}

.vingertje{
  height: 30px;
  position: relative;
  top: 8px;
  right: 8px;
}