@font-face {
  font-family: 'FolksLightRegular';
  src: url('/fonts/Folks-Light-webfont.eot');
  src: url('/fonts/Folks-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Folks-Light-webfont.woff') format('woff'), url('/fonts/Folks-Light-webfont.ttf') format('truetype'), url('/fonts/Folks-Light-webfont.svg#FolksLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FolksRegular';
  src: url('/fonts/Folks-Normal-webfont.eot');
  src: url('/fonts/Folks-Normal-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Folks-Normal-webfont.woff') format('woff'), url('/fonts/Folks-Normal-webfont.ttf') format('truetype'), url('/fonts/Folks-Normal-webfont.svg#FolksRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FolksBold';
  src: url('/fonts/Folks-Bold-webfont.eot');
  src: url('/fonts/Folks-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Folks-Bold-webfont.woff') format('woff'), url('/fonts/Folks-Bold-webfont.ttf') format('truetype'), url('/fonts/Folks-Bold-webfont.svg#FolksBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'YokaweradRegular';
  src: url('/fonts/Yokawerad-webfont.eot');
  src: url('/fonts/Yokawerad-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Yokawerad-webfont.woff') format('woff'), url('/fonts/Yokawerad-webfont.ttf') format('truetype'), url('/fonts/Yokawerad-webfont.svg#YokaweradRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AsapRegular';
  src: url('/fonts/Asap-Regular-webfont.eot');
  src: url('/fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Asap-Regular-webfont.woff') format('woff'), url('/fonts/Asap-Regular-webfont.ttf') format('truetype'), url('/fonts/Asap-Regular-webfont.svg#AsapRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  /*outline: 1px dotted red;*/

}
.hidden {
  display: none;
}
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: AsapRegular;
  background: black;
  line-height: 1.9em;
}
#wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: black;
  outline: 1px solid grey;
  position: relative;
  padding: 25px;
}
p {
  color: #eee;
}
.small {
  font-size: .7em;
}
.newline {
  clear: both;
}
.tab {
  margin-left: 1em;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
#home .en,
#home .nl {
  display: block;
}
/*@import ("stylesheets/colors.less")*/
ul#menu {
  background: #469a33;
  font-family: FolksBold;
  font-size: 1.5em;
  margin: 0 auto 25px;
  padding: 0;
	display: flex;
}
ul#menu li {
  height: 60px;
  list-style: none;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  font-size: 19px;
	flex-grow: 1;
}
ul#menu li a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
ul#menu li a:hover {
  text-shadow: 0 0 8px black;
}
.home {
  background-color: #a46528;
}
.bosz {
  background-color: #9a9933;
}
.accordion,
.accordeon {
  background-color: #7ca924;
}
.adults,
#volwassenen {
  background-color: #339a53;
}
.kids {
  background-color: #349599;
}
.faq {
  background-color: #d35239;
}
.tarieven,
.tuition {
  background-color: #d68d0e;
}
.contact {
  background-color: #555555;
}
/*
.home{ background: -moz-linear-gradient(to bottom, @menuBrown 0%,@menuArmy 100%); }
.bosz{ background: -moz-linear-gradient(to bottom, @menuArmy 0%,@menuGrass 100%); }
.accordion, .accordeon{ background: -moz-linear-gradient(to bottom, @menuGrass 0%,@menuGreen 100%); }
.adults, .volwassenen{ background: -moz-linear-gradient(to bottom, @menuGreen 0%,@menuTeal 100%); }
.kids{ background: -moz-linear-gradient(to bottom, @menuTeal 0%,@menuRed 100%); }
.faq{ background: -moz-linear-gradient(to bottom, @menuRed 0%,@menuOrange 100%); }
.tarieven, .tuition{ background: -moz-linear-gradient(to bottom, @menuOrange 0%,@menuGray 100%); }
.contact{ background: -moz-linear-gradient(to bottom, @menuGray 0%,@menuBrown 100%); }
*/
.priceTable {
  margin: 50px 50px 50px 0;
  border: 10px solid #333333;
  background: #333333;
}
.priceTable td {
  padding: 5px 20px 5px 0;
}
section {
  padding: 20px 50px 20px 50px;
  clear: both;
  margin: 0 auto;
  box-sizing: content-box;
  font-family: AsapRegular;
  font-size: 1.2em;
  display: block;
  min-height: 600px;
}
section.page .blue,
.blue {
  color: #70c2f1;
}
section .yellow,
.yellow {
  color: #e8d92d;
}
.page {
  padding-left: 40px;
  padding-top: 50px;
  color: #ccc;
}
.page h1 {
  font-family: YokaweradRegular;
  font-size: 30px;
  position: relative;
  z-index: 5;
  margin: 0;
  color: #e8d92d;
}
.page h2 {
  font-family: YokaweradRegular;
  font-size: 20px;
  position: relative;
  z-index: 5;
  margin: 0;
  color: #e8d92d;
}
.page h2:first-child {
  margin-bottom: 30px;
}
.page p {
  position: relative;
  z-index: 4;
  max-width: 670px;
  text-align: left;
}
#switchNl,
#switchEn {
  display: inline;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}
#switchNl {
  left: 100px;
  color: #e8d92d;
}
#switchEn {
  left: 200px;
  color: #70c2f1;
}
.points {
  margin-top: 10px;
  padding-left: 10px;
  width: 70%;
}
.points li {
  list-style: circle outside none;
  margin-bottom: .2em;
}
input,
textarea {
  clear: left;
  float: left;
}
#location {
  float: right;
}
#portrait {
  top: 30px;
  bottom: 50px;
  right: 0px;
  float: right;
  margin: 20px;
  font-size: .6em;
  font-stretch: extra-expanded;
}
#portrait h1 {
  color: #d35239;
}
.imgColumn {
  position: absolute;
  width: 200px;
  top: 275px;
  right: 25px;
  /* bosz */

  /* accordion */

  /* kids */

}
.imgColumn #boszacc {
  float: right;
  position: relative;
  right: 50px;
}
.imgColumn #vive {
  position: absolute;
  right: 40px;
  top: 350px;
}
.imgColumn #vive img {
  width: 235px;
}
.imgColumn #bohemjenz {
  position: absolute;
  right: 40px;
  top: 750px;
}
.imgColumn #bohemjenz img {
  width: 235px;
}
.imgColumn #schicks {
  position: absolute;
  right: 40px;
  top: 1075px;
}
.imgColumn #oldhohner {
  position: absolute;
  right: 25px;
}
.imgColumn #uprising {
  position: absolute;
  right: 25px;
  top: 285px;
}
.imgColumn #meyer {
  position: absolute;
  top: 700px;
  right: 25px;
}
.imgColumn #innards {
  width: 235px;
  position: absolute;
  right: 25px;
  top: 325px;
}
.imgColumn #children1 {
  position: absolute;
  right: 25px;
  top: 0;
}
#giantAcc {
  position: absolute;
  height: 400px;
  top: 830px;
  right: 50px;
}
#comets {
  position: relative;
  left: 50px;
}
.vingertje {
  height: 30px;
  position: relative;
  top: 8px;
  right: 8px;
}
